# Data Washing

In [1]:
%pwd

'/Users/lichao/Library/CloudStorage/OneDrive-KyushuUniversity/Course01_DataScienceForBa/Code'

## Import Package

In [2]:
import numpy as np
import os
import pandas as pd

## Folder Address Setting

In [3]:
Data_Folder = "../Data"
Code_Folder = "../Code"
Results_Folder = "../Results"

## Load Data

In [4]:
raw_df = pd.read_csv(os.path.join(Data_Folder, 'D01_RawDataWb4WaveX_v1.csv'))

In [5]:
raw_df

,Unnamed: 0,wave,INCOME_1,INCOME_2,INCOME_3,INCOME_4,INCOME_5,INCOME_6,INCOME_7,WP16,...,WP2319,WP4657,WP9042,WP9048,WP17625,WP17626,WP16056,WP15862,WP19544,WP3117
0,2051059,14.1,36000.0,8966.233975,6000.0,1494.372329,1.0,NaN,3.0,7.0,...,6.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0
1,2051060,14.1,120000.0,29887.446582,30000.0,7471.861645,4.0,NaN,1.0,1.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0
2,2051061,14.1,216000.0,53797.403847,54000.0,13449.350962,5.0,NaN,3.0,4.0,...,2.0,1.0,NaN,NaN,2.0,1.0,2.0,NaN,2.0,1.0
3,2051062,14.1,72000.0,17932.467949,14400.0,3586.493590,2.0,NaN,3.0,6.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0
4,2051063,14.1,9600.0,2390.995727,2400.0,597.748932,1.0,NaN,3.0,4.0,...,3.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10707,2355154,16.1,120000.0,26299.831611,40000.0,8766.610537,4.0,NaN,1.0,7.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0
10708,2355155,16.1,180000.0,39449.747417,36000.0,7889.949483,4.0,NaN,1.0,6.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0
10709,2355156,16.1,240000.0,52599.663223,60000.0,13149.915806,5.0,NaN,1.0,6.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0
10710,2355157,16.1,144000.0,31559.797934,48000.0,10519.932645,4.0,NaN,1.0,9.0,...,3.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0
10711,2355158,16.1,48000.0,10519.932645,8000.0,1753.322107,1.0,NaN,2.0,4.0,...,3.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0

In [6]:
raw_df.head()

,Unnamed: 0,wave,INCOME_1,INCOME_2,INCOME_3,INCOME_4,INCOME_5,INCOME_6,INCOME_7,WP16,...,WP2319,WP4657,WP9042,WP9048,WP17625,WP17626,WP16056,WP15862,WP19544,WP3117
0,2051059,14.1,36000.0,8966.233975,6000.0,1494.372329,1.0,NaN,3.0,7.0,...,6.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0
1,2051060,14.1,120000.0,29887.446582,30000.0,7471.861645,4.0,NaN,1.0,1.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0
2,2051061,14.1,216000.0,53797.403847,54000.0,13449.350962,5.0,NaN,3.0,4.0,...,2.0,1.0,NaN,NaN,2.0,1.0,2.0,NaN,2.0,1.0
3,2051062,14.1,72000.0,17932.467949,14400.0,3586.493590,2.0,NaN,3.0,6.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0
4,2051063,14.1,9600.0,2390.995727,2400.0,597.748932,1.0,NaN,3.0,4.0,...,3.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,2.0

In [7]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols: 'UsecolsArgType' = None, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters: 'Mapping[Hashable, Callable] | None' = None, true_values: 'list | None' = None, false_values: 'list | None' = None, skipinitialspace: 'bool' = False, skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool | lib.NoDefault' = <no_default>, skip_blank_lines: 'bool' = True, parse_dates: 'bool | Sequence[Hashable] | None' = None, infer_datetime_format: 'bool | lib.NoDefault' = <no_default>, keep_date_col: 'bool | lib.NoDefault' = <no_default>, date_parser: 'Callable | lib.NoDefault' = <no_default>, date_format: 'str | dict[Hashable, str] | None' = None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, on_bad_lines: 'str' = 'error', delim_whitespace: 'bool | lib.NoDefault' = <no_default>, low_memory: 'bool' = True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions | None' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>) -> 'DataFrame | TextFileReader'
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Character or regex pattern to treat as the delimiter. If ``sep=None``, the
        C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator from only the first valid
        row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
        In addition, separators longer than 1 character and different from
        ``'\s+'`` will be interpreted as regular expressions and will also force
        the use of the Python parsing engine. Note that regex delimiters are prone
        to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, optional
        Alias for ``sep``.
    header : int, Sequence of int, 'infer' or None, default 'infer'
        Row number(s) containing column labels and marking the start of the
        data (zero-indexed). Default behavior is to infer the column names: if no ``names``
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly to ``names`` then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a :class:`~pandas.MultiIndex` on the columns
        e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : Sequence of Hashable, optional
        Sequence of column labels to apply. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : Hashable, Sequence of Hashable or False, optional
      Column(s) to use as row label(s), denoted either by column labels or column
      indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
      will be formed for the row labels.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g., when you have a malformed file with delimiters at
      the end of each line.
    usecols : Sequence of Hashable or Callable, optional
        Subset of columns to select, denoted either by column labels or column indices.
        If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in ``names`` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
        preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
        for columns in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to ``True``. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    dtype : dtype or dict of {Hashable : dtype}, optional
        Data type(s) to apply to either the whole dataset or individual columns.
        E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
        Use ``str`` or ``object`` together with suitable ``na_values`` settings
        to preserve and not interpret ``dtype``.
        If ``converters`` are specified, they will be applied INSTEAD
        of ``dtype`` conversion.

        .. versionadded:: 1.5.0

            Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
            the default determines the ``dtype`` of the columns which are not explicitly
            listed.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The 'pyarrow' engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict of {Hashable : Callable}, optional
        Functions for converting values in specified columns. Keys can either
        be column labels or column indices.
    true_values : list, optional
        Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
    false_values : list, optional
        Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : int, list of int or Callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (``int``)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
        Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
        per-column ``NA`` values.  By default the following values are interpreted as
        ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
        "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
        "n/a", "nan", "null ".

    keep_default_na : bool, default True
        Whether or not to include the default ``NaN`` values when parsing the data.
        Depending on whether ``na_values`` is passed in, the behavior is as follows:

        * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
          is appended to the default ``NaN`` values used for parsing.
        * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
          the default ``NaN`` values are used for parsing.
        * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
          the ``NaN`` values specified ``na_values`` are used for parsing.
        * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
          strings will be parsed as ``NaN``.

        Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
        ``na_values`` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of ``na_values``). In
        data without any ``NA`` values, passing ``na_filter=False`` can improve the
        performance of reading a large file.
    verbose : bool, default False
        Indicate number of ``NA`` values placed in non-numeric columns.

        .. deprecated:: 2.2.0
    skip_blank_lines : bool, default True
        If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
    parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
        The behavior is as follows:

        * ``bool``. If ``True`` -> try parsing the index. Note: Automatically set to
          ``True`` if ``date_format`` or ``date_parser`` arguments have been passed.
        * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
          each as a separate date column.
        * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
          as a single date column. Values are joined with a space before parsing.
        * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
          result 'foo'. Values are joined with a space before parsing.

        If a column or index cannot be represented as an array of ``datetime``,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an ``object`` data type. For
        non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
        :func:`~pandas.read_csv`.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
        format of the ``datetime`` strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.

        .. deprecated:: 2.0.0
            A strict version of this argument is now the default, passing it has no effect.

    keep_date_col : bool, default False
        If ``True`` and ``parse_dates`` specifies combining multiple columns then
        keep the original columns.
    date_parser : Callable, optional
        Function to use for converting a sequence of string columns to an array of
        ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. pandas will try to call ``date_parser`` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by ``parse_dates`` into a single array
        and pass that; and 3) call ``date_parser`` once for each row using one or
        more strings (corresponding to the columns defined by ``parse_dates``) as
        arguments.

        .. deprecated:: 2.0.0
           Use ``date_format`` instead, or read in as ``object`` and then apply
           :func:`~pandas.to_datetime` as-needed.
    date_format : str or dict of column -> format, optional
        Format to use for parsing dates when used in conjunction with ``parse_dates``.
        The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
        `strftime documentation
        <https://docs.python.org/3/library/datetime.html
        #strftime-and-strptime-behavior>`_ for more information on choices, though
        note that :const:`"%f"` will parse all the way up to nanoseconds.
        You can also pass:

        - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
            time string (not necessarily in exactly the same format);
        - "mixed", to infer the format for each element individually. This is risky,
            and you should probably use it along with `dayfirst`.

        .. versionadded:: 2.0.0
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If ``True``, use a cache of unique, converted dates to apply the ``datetime``
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

    iterator : bool, default False
        Return ``TextFileReader`` object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Number of lines to read from the file per chunk. Passing a value will cause the
        function to return a ``TextFileReader`` object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
        Set to ``None`` for no decompression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
        other key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

        .. versionadded:: 1.5.0
            Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str (length 1), optional
        Character acting as the thousands separator in numerical values.
    decimal : str (length 1), default '.'
        Character to recognize as decimal point (e.g., use ',' for European data).
    lineterminator : str (length 1), optional
        Character used to denote a line break. Only valid with C parser.
    quotechar : str (length 1), optional
        Character used to denote the start and end of a quoted item. Quoted
        items can include the ``delimiter`` and it will be ignored.
    quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
        ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
        characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
        or ``lineterminator``.
    doublequote : bool, default True
       When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        Character used to escape other characters.
    comment : str (length 1), optional
        Character indicating that the remainder of line should not be parsed.
        If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter ``header`` but not by
        ``skiprows``. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
        treated as the header.
    encoding : str, optional, default 'utf-8'
        Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

    encoding_errors : str, optional, default 'strict'
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
        ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
        override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
        documentation for more details.
    on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

        - ``'error'``, raise an Exception when a bad line is encountered.
        - ``'warn'``, raise a warning when a bad line is encountered and skip that line.
        - ``'skip'``, skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

        .. versionadded:: 1.4.0


In [8]:
raw_df = pd.read_csv(os.path.join(Data_Folder, 'D01_RawDataWb4WaveX_v1.csv'), index_col = 0)

In [9]:
raw_df.head()

,wave,INCOME_1,INCOME_2,INCOME_3,INCOME_4,INCOME_5,INCOME_6,INCOME_7,WP16,WP18,...,WP2319,WP4657,WP9042,WP9048,WP17625,WP17626,WP16056,WP15862,WP19544,WP3117
2051059,14.1,36000.0,8966.233975,6000.0,1494.372329,1.0,NaN,3.0,7.0,98.0,...,6.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0
2051060,14.1,120000.0,29887.446582,30000.0,7471.861645,4.0,NaN,1.0,1.0,1.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0
2051061,14.1,216000.0,53797.403847,54000.0,13449.350962,5.0,NaN,3.0,4.0,5.0,...,2.0,1.0,NaN,NaN,2.0,1.0,2.0,NaN,2.0,1.0
2051062,14.1,72000.0,17932.467949,14400.0,3586.493590,2.0,NaN,3.0,6.0,6.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0
2051063,14.1,9600.0,2390.995727,2400.0,597.748932,1.0,NaN,3.0,4.0,4.0,...,3.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,2.0

In [10]:
raw_df.index

Index([2051059, 2051060, 2051061, 2051062, 2051063, 2051064, 2051065, 2051066,
       2051067, 2051068,
       ...
       2355149, 2355150, 2355151, 2355152, 2355153, 2355154, 2355155, 2355156,
       2355157, 2355158],
      dtype='int64', length=10712)

In [11]:
raw_df.columns

Index(['wave', 'INCOME_1', 'INCOME_2', 'INCOME_3', 'INCOME_4', 'INCOME_5',
       'INCOME_6', 'INCOME_7', 'WP16', 'WP18', 'WP23', 'WP27', 'WP30', 'WP31',
       'WP40', 'WP43', 'WP60', 'WP61', 'WP63', 'WP65', 'WP67', 'WP68', 'WP69',
       'WP70', 'WP71', 'WP74', 'WP83', 'WP85', 'WP86', 'WP19472', 'WP88',
       'WP89', 'WP91', 'WP92', 'WP93', 'WP94', 'WP95', 'WP96', 'WP97', 'WP98',
       'WP10248', 'WP103', 'WP105', 'WP106', 'WP108', 'WP109', 'WP110',
       'WP111', 'WP112', 'WP113', 'WP117', 'WP118', 'WP119', 'WP129', 'WP130',
       'WP9050', 'WP131', 'WP132', 'WP134', 'WP137', 'WP138', 'WP139', 'WP141',
       'WP144', 'WP10251', 'WP145', 'WP146', 'WP150', 'WP151', 'WP153',
       'WP155', 'WP156', 'WP13125', 'WP1219', 'WP1220', 'WP1223', 'EMP_2010',
       'WP1230', 'WP1233', 'WP2319', 'WP4657', 'WP9042', 'WP9048', 'WP17625',
       'WP17626', 'WP16056', 'WP15862', 'WP19544', 'WP3117'],
      dtype='object')

In [12]:
raw_df.describe()

,wave,INCOME_1,INCOME_2,INCOME_3,INCOME_4,INCOME_5,INCOME_6,INCOME_7,WP16,WP18,...,WP2319,WP4657,WP9042,WP9048,WP17625,WP17626,WP16056,WP15862,WP19544,WP3117
count,10712.000000,1.071200e+04,1.071200e+04,1.071200e+04,1.071200e+04,10712.000000,0.0,10712.000000,10712.000000,10712.000000,...,10712.000000,10712.000000,15.000000,15.000000,10712.000000,10712.000000,10712.000000,8829.000000,10484.000000,10712.000000
mean,15.080489,1.605346e+05,3.768528e+04,5.944424e+04,1.399056e+04,3.158047,NaN,1.413742,7.824683,17.292942,...,2.257188,1.002054,2.200000,237.733333,1.879294,1.021845,1.180545,1.054933,1.122091,1.856516
std,0.820162,4.293703e+05,1.013907e+05,1.803316e+05,4.195370e+04,1.414195,NaN,0.718554,14.193630,29.110443,...,0.817969,0.062586,1.082326,396.271456,0.333728,0.151206,0.398019,0.233266,0.342222,0.784767
min,14.100000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,NaN,1.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,14.100000,3.840000e+04,9.204941e+03,1.200000e+04,2.988745e+03,2.000000,NaN,1.000000,5.000000,6.000000,...,2.000000,1.000000,1.500000,20.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,15.100000,8.400000e+04,2.092121e+04,2.880000e+04,6.574958e+03,3.000000,NaN,1.000000,6.000000,8.000000,...,2.000000,1.000000,2.000000,50.000000,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000
75%,16.100000,1.560000e+05,3.830798e+04,6.000000e+04,1.314992e+04,4.000000,NaN,2.000000,7.000000,9.000000,...,3.000000,1.000000,2.500000,138.500000,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000
max,16.100000,2.400000e+07,5.893536e+06,6.600000e+06,1.620722e+06,5.000000,NaN,3.000000,99.000000,99.000000,...,6.000000,4.000000,4.000000,999.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000

In [13]:
raw_df[['WP16', 'WP18', 'WP23', 'WP30']].describe()

               WP16          WP18          WP23          WP30
count  10712.000000  10712.000000  10712.000000  10712.000000
mean       7.824683     17.292942      1.883402      1.204537
std       14.193630     29.110443      0.341804      0.460245
min        0.000000      0.000000      1.000000      1.000000
25%        5.000000      6.000000      2.000000      1.000000
50%        6.000000      8.000000      2.000000      1.000000
75%        7.000000      9.000000      2.000000      1.000000
max       99.000000     99.000000      4.000000      4.000000

In [14]:
list1 = [1,2,3]

In [15]:
type(list1)

list

In [16]:
raw_df.isna().sum()

wave           0
INCOME_1       0
INCOME_2       0
INCOME_3       0
INCOME_4       0
            ...
WP17626        0
WP16056        0
WP15862     1883
WP19544      228
WP3117         0
Length: 89, dtype: int64

In [17]:
for column, item in zip(raw_df.columns, raw_df.isna().sum()):
    print(column, item)

wave 0
INCOME_1 0
INCOME_2 0
INCOME_3 0
INCOME_4 0
INCOME_5 0
INCOME_6 10712
INCOME_7 0
WP16 0
WP18 0
WP23 0
WP27 0
WP30 0
WP31 0
WP40 0
WP43 0
WP60 0
WP61 0
WP63 0
WP65 0
WP67 0
WP68 0
WP69 0
WP70 0
WP71 0
WP74 0
WP83 0
WP85 0
WP86 0
WP19472 0
WP88 0
WP89 3500
WP91 0
WP92 0
WP93 0
WP94 0
WP95 0
WP96 10712
WP97 0
WP98 0
WP10248 0
WP103 3500
WP105 0
WP106 0
WP108 0
WP109 0
WP110 0
WP111 0
WP112 10712
WP113 0
WP117 0
WP118 0
WP119 0
WP129 0
WP130 0
WP9050 0
WP131 0
WP132 0
WP134 0
WP137 10712
WP138 10712
WP139 10712
WP141 10712
WP144 10712
WP10251 10712
WP145 10712
WP146 10712
WP150 10712
WP151 10712
WP153 10712
WP155 10712
WP156 10712
WP13125 10712
WP1219 0
WP1220 0
WP1223 3500
EMP_2010 3500
WP1230 0
WP1233 10712
WP2319 0
WP4657 0
WP9042 10697
WP9048 10697
WP17625 0
WP17626 0
WP16056 0
WP15862 1883
WP19544 228
WP3117 0

In [18]:
raw_df.columns

Index(['wave', 'INCOME_1', 'INCOME_2', 'INCOME_3', 'INCOME_4', 'INCOME_5',
       'INCOME_6', 'INCOME_7', 'WP16', 'WP18', 'WP23', 'WP27', 'WP30', 'WP31',
       'WP40', 'WP43', 'WP60', 'WP61', 'WP63', 'WP65', 'WP67', 'WP68', 'WP69',
       'WP70', 'WP71', 'WP74', 'WP83', 'WP85', 'WP86', 'WP19472', 'WP88',
       'WP89', 'WP91', 'WP92', 'WP93', 'WP94', 'WP95', 'WP96', 'WP97', 'WP98',
       'WP10248', 'WP103', 'WP105', 'WP106', 'WP108', 'WP109', 'WP110',
       'WP111', 'WP112', 'WP113', 'WP117', 'WP118', 'WP119', 'WP129', 'WP130',
       'WP9050', 'WP131', 'WP132', 'WP134', 'WP137', 'WP138', 'WP139', 'WP141',
       'WP144', 'WP10251', 'WP145', 'WP146', 'WP150', 'WP151', 'WP153',
       'WP155', 'WP156', 'WP13125', 'WP1219', 'WP1220', 'WP1223', 'EMP_2010',
       'WP1230', 'WP1233', 'WP2319', 'WP4657', 'WP9042', 'WP9048', 'WP17625',
       'WP17626', 'WP16056', 'WP15862', 'WP19544', 'WP3117'],
      dtype='object')

In [19]:
df = raw_df[['wave', 'INCOME_1', 'INCOME_2', 'INCOME_3', 'INCOME_4', 'INCOME_5',
             'INCOME_7', 'WP16', 'WP18', 'WP23', 'WP27', 'WP30', 'WP31',
       'WP40', 'WP43', 'WP60', 'WP61', 'WP63', 'WP65', 'WP67', 'WP68', 'WP69',
       'WP70', 'WP71', 'WP74', 'WP83', 'WP85', 'WP86', 'WP19472', 'WP88',
       'WP89', 'WP91', 'WP92', 'WP93', 'WP94', 'WP95', 'WP97', 'WP98',
       'WP10248', 'WP103', 'WP105', 'WP106', 'WP108', 'WP109', 'WP110',
       'WP111', 'WP112', 'WP113', 'WP117', 'WP118', 'WP119', 'WP129', 'WP130',
       'WP9050', 'WP131', 'WP132', 'WP134', 'WP1219', 'WP1220', 'WP1223', 'EMP_2010',
       'WP1230', 'WP1233', 'WP2319', 'WP4657', 'WP9042', 'WP9048', 'WP17625',
       'WP17626', 'WP16056', 'WP15862', 'WP19544', 'WP3117'
            ]].copy()

In [20]:
df

,wave,INCOME_1,INCOME_2,INCOME_3,INCOME_4,INCOME_5,INCOME_7,WP16,WP18,WP23,...,WP2319,WP4657,WP9042,WP9048,WP17625,WP17626,WP16056,WP15862,WP19544,WP3117
2051059,14.1,36000.0,8966.233975,6000.0,1494.372329,1.0,3.0,7.0,98.0,2.0,...,6.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0
2051060,14.1,120000.0,29887.446582,30000.0,7471.861645,4.0,1.0,1.0,1.0,2.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0
2051061,14.1,216000.0,53797.403847,54000.0,13449.350962,5.0,3.0,4.0,5.0,2.0,...,2.0,1.0,NaN,NaN,2.0,1.0,2.0,NaN,2.0,1.0
2051062,14.1,72000.0,17932.467949,14400.0,3586.493590,2.0,3.0,6.0,6.0,2.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0
2051063,14.1,9600.0,2390.995727,2400.0,597.748932,1.0,3.0,4.0,4.0,2.0,...,3.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2355154,16.1,120000.0,26299.831611,40000.0,8766.610537,4.0,1.0,7.0,8.0,2.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0
2355155,16.1,180000.0,39449.747417,36000.0,7889.949483,4.0,1.0,6.0,6.0,2.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0
2355156,16.1,240000.0,52599.663223,60000.0,13149.915806,5.0,1.0,6.0,5.0,2.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0
2355157,16.1,144000.0,31559.797934,48000.0,10519.932645,4.0,1.0,9.0,9.0,2.0,...,3.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0
2355158,16.1,48000.0,10519.932645,8000.0,1753.322107,1.0,2.0,4.0,4.0,2.0,...,3.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0

In [21]:
df.columns

Index(['wave', 'INCOME_1', 'INCOME_2', 'INCOME_3', 'INCOME_4', 'INCOME_5',
       'INCOME_7', 'WP16', 'WP18', 'WP23', 'WP27', 'WP30', 'WP31', 'WP40',
       'WP43', 'WP60', 'WP61', 'WP63', 'WP65', 'WP67', 'WP68', 'WP69', 'WP70',
       'WP71', 'WP74', 'WP83', 'WP85', 'WP86', 'WP19472', 'WP88', 'WP89',
       'WP91', 'WP92', 'WP93', 'WP94', 'WP95', 'WP97', 'WP98', 'WP10248',
       'WP103', 'WP105', 'WP106', 'WP108', 'WP109', 'WP110', 'WP111', 'WP112',
       'WP113', 'WP117', 'WP118', 'WP119', 'WP129', 'WP130', 'WP9050', 'WP131',
       'WP132', 'WP134', 'WP1219', 'WP1220', 'WP1223', 'EMP_2010', 'WP1230',
       'WP1233', 'WP2319', 'WP4657', 'WP9042', 'WP9048', 'WP17625', 'WP17626',
       'WP16056', 'WP15862', 'WP19544', 'WP3117'],
      dtype='object')

INCOME_6 NAN -> remove

'WP16' -> what?

## Washing Data

For the Variable Defination Please refer [this doc](../Materials/World_Poll_Methodology_032023.pdf)  From Page 66

Missing Value Fulfillment

In [22]:
variable_list = []
### list kept variable

### Well Being Cantril Ladder (Dependent Variable -> Y)

Have to be answered

Well-being is very important. The row without valid answers (0-10) should be removed.

In [23]:
# WP16 -> Cantril_ladder generate
df['Cantril_ladder'] = df['WP16']

In [24]:
df.head()

,wave,INCOME_1,INCOME_2,INCOME_3,INCOME_4,INCOME_5,INCOME_7,WP16,WP18,WP23,...,WP4657,WP9042,WP9048,WP17625,WP17626,WP16056,WP15862,WP19544,WP3117,Cantril_ladder
2051059,14.1,36000.0,8966.233975,6000.0,1494.372329,1.0,3.0,7.0,98.0,2.0,...,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0,7.0
2051060,14.1,120000.0,29887.446582,30000.0,7471.861645,4.0,1.0,1.0,1.0,2.0,...,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0,1.0
2051061,14.1,216000.0,53797.403847,54000.0,13449.350962,5.0,3.0,4.0,5.0,2.0,...,1.0,NaN,NaN,2.0,1.0,2.0,NaN,2.0,1.0,4.0
2051062,14.1,72000.0,17932.467949,14400.0,3586.493590,2.0,3.0,6.0,6.0,2.0,...,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0,6.0
2051063,14.1,9600.0,2390.995727,2400.0,597.748932,1.0,3.0,4.0,4.0,2.0,...,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,2.0,4.0

In [25]:
df['Cantril_ladder'].value_counts(dropna=False).sort_index()

Cantril_ladder
0.0      378
1.0      228
2.0      332
3.0      678
4.0      859
5.0     2750
6.0     1709
7.0     1299
8.0     1153
9.0      316
10.0     758
98.0     237
99.0      15
Name: count, dtype: int64

What kind of rows will be kept?          
Cantril_ladder's value is smaller than 11         
Strategy ->

False rows will be removed

In [28]:
df[df['Cantril_ladder'] < 11]

,wave,INCOME_1,INCOME_2,INCOME_3,INCOME_4,INCOME_5,INCOME_7,WP16,WP18,WP23,...,WP4657,WP9042,WP9048,WP17625,WP17626,WP16056,WP15862,WP19544,WP3117,Cantril_ladder
2051059,14.1,36000.0,8966.233975,6000.0,1494.372329,1.0,3.0,7.0,98.0,2.0,...,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0,7.0
2051060,14.1,120000.0,29887.446582,30000.0,7471.861645,4.0,1.0,1.0,1.0,2.0,...,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0,1.0
2051061,14.1,216000.0,53797.403847,54000.0,13449.350962,5.0,3.0,4.0,5.0,2.0,...,1.0,NaN,NaN,2.0,1.0,2.0,NaN,2.0,1.0,4.0
2051062,14.1,72000.0,17932.467949,14400.0,3586.493590,2.0,3.0,6.0,6.0,2.0,...,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0,6.0
2051063,14.1,9600.0,2390.995727,2400.0,597.748932,1.0,3.0,4.0,4.0,2.0,...,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2355154,16.1,120000.0,26299.831611,40000.0,8766.610537,4.0,1.0,7.0,8.0,2.0,...,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0,7.0
2355155,16.1,180000.0,39449.747417,36000.0,7889.949483,4.0,1.0,6.0,6.0,2.0,...,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0,6.0
2355156,16.1,240000.0,52599.663223,60000.0,13149.915806,5.0,1.0,6.0,5.0,2.0,...,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0,6.0
2355157,16.1,144000.0,31559.797934,48000.0,10519.932645,4.0,1.0,9.0,9.0,2.0,...,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0,9.0
2355158,16.1,48000.0,10519.932645,8000.0,1753.322107,1.0,2.0,4.0,4.0,2.0,...,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0,4.0

In [29]:
df = df[df['Cantril_ladder'] < 11]

In [30]:
df

,wave,INCOME_1,INCOME_2,INCOME_3,INCOME_4,INCOME_5,INCOME_7,WP16,WP18,WP23,...,WP4657,WP9042,WP9048,WP17625,WP17626,WP16056,WP15862,WP19544,WP3117,Cantril_ladder
2051059,14.1,36000.0,8966.233975,6000.0,1494.372329,1.0,3.0,7.0,98.0,2.0,...,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0,7.0
2051060,14.1,120000.0,29887.446582,30000.0,7471.861645,4.0,1.0,1.0,1.0,2.0,...,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0,1.0
2051061,14.1,216000.0,53797.403847,54000.0,13449.350962,5.0,3.0,4.0,5.0,2.0,...,1.0,NaN,NaN,2.0,1.0,2.0,NaN,2.0,1.0,4.0
2051062,14.1,72000.0,17932.467949,14400.0,3586.493590,2.0,3.0,6.0,6.0,2.0,...,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0,6.0
2051063,14.1,9600.0,2390.995727,2400.0,597.748932,1.0,3.0,4.0,4.0,2.0,...,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2355154,16.1,120000.0,26299.831611,40000.0,8766.610537,4.0,1.0,7.0,8.0,2.0,...,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0,7.0
2355155,16.1,180000.0,39449.747417,36000.0,7889.949483,4.0,1.0,6.0,6.0,2.0,...,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0,6.0
2355156,16.1,240000.0,52599.663223,60000.0,13149.915806,5.0,1.0,6.0,5.0,2.0,...,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0,6.0
2355157,16.1,144000.0,31559.797934,48000.0,10519.932645,4.0,1.0,9.0,9.0,2.0,...,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0,9.0
2355158,16.1,48000.0,10519.932645,8000.0,1753.322107,1.0,2.0,4.0,4.0,2.0,...,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0,4.0

In [31]:
df['Cantril_ladder'].value_counts(dropna=False).sort_index()

Cantril_ladder
0.0      378
1.0      228
2.0      332
3.0      678
4.0      859
5.0     2750
6.0     1709
7.0     1299
8.0     1153
9.0      316
10.0     758
Name: count, dtype: int64

In [46]:
variable_list.append('Cantril_ladder')

In [47]:
variable_list

['wave', 'Cantril_ladder']

[] object is list

In [48]:
type(variable_list)

list

### Wave

several years -> annually 
2005, 2006 (WAVE 1) 2007 (WAVE 2) -> 2024       
wave 14 -> 2019    
wave 15 -> 2020

removed      
Country France

In [32]:
df['wave'].value_counts().sort_index()

wave
14.1    3580
15.1    3394
16.1    3486
Name: count, dtype: int64

Quater 1 -> Spring

In [33]:
df['wave']

2051059    14.1
2051060    14.1
2051061    14.1
2051062    14.1
2051063    14.1
           ...
2355154    16.1
2355155    16.1
2355156    16.1
2355157    16.1
2355158    16.1
Name: wave, Length: 10460, dtype: float64

float -> 1.1, 1.2
int -> 1 2 3 （整数）

df.loc -> このdfのlocation 2051059,'wave'は何ですか

In [38]:
df.loc[2051059,'wave']

np.float64(14.1)

In [39]:
type(df.loc[2051059,'wave'])

numpy.float64

In [40]:
df['wave'] = df['wave'].astype(int)

/var/folders/f6/xmkhn5bd6vgbnt1m2ym7y8sm0000gn/T/ipykernel_94672/3583883429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wave'] = df['wave'].astype(int)

In [41]:
df.loc[2051059,'wave']

np.int64(14)

In [42]:
type(df.loc[2051059,'wave'])

numpy.int64

In [43]:
df['wave'].value_counts().sort_index()

wave
14    3580
15    3394
16    3486
Name: count, dtype: int64

In [44]:
variable_list.append('wave')

In [45]:
variable_list

['wave']

wave -> year

number 
float int bool str

In [49]:
type(54.3)

float

In [52]:
type(1.0)

float

In [53]:
type(1)

int

In [54]:
type(True)

bool

In [55]:
type(False)

bool

In [57]:
True

True

In [58]:
'1.1'

'1.1'

In [59]:
type('1.1')

str

In [60]:
'1.1' + '1.2'

'1.11.2'

In [61]:
'1.1' * '1.2'

TypeError: can't multiply sequence by non-int of type 'str'

In [63]:
float('1.1') * float('1.2')

1.32

### Income related

In [ ]:
variable_list.append('INCOME_2')

In [ ]:
code = 'INCOME_5'
name = 'Income_level'

In [ ]:
df[name] = df[code]

In [ ]:
print(df[code].value_counts(dropna=False).sort_index())

### WP23 Health_disable

drop 3 4 to NaN

In [ ]:
df['WP23'].value_counts(dropna=False).sort_index()

In [ ]:
df['Health_disable'] = df['WP23']

In [ ]:
df = df[df['Health_disable'] < 3]

In [ ]:
df['Health_disable'].value_counts(dropna=False).sort_index()

In [ ]:
df['Health_disable'] = np.abs(df['Health_disable']-2)

In [ ]:
df['Health_disable'].value_counts(dropna=False).sort_index()

In [ ]:
variable_list.append('Health_disable')

### WP27 Relative_have

drop 3 4 to NaN

In [27]:
df['WP27'].value_counts(dropna=False).sort_index()

WP27
1.0    8919
2.0    1603
3.0     177
4.0      13
Name: count, dtype: int64

In [30]:
df['WP27'] = df['WP27'].replace(4.0, np.nan)

In [31]:
df['WP27'].value_counts(dropna=False).sort_index()

WP27
1.0    8919
2.0    1603
3.0     177
NaN      13
Name: count, dtype: int64

In [ ]:
df['Relative_have'] = df['WP27']

In [ ]:
df['Relative_have'] = df['Relative_have'].fillna(2)

In [ ]:
df.loc[df['Relative_have'].isin([3, 4]), 'Relative_have'] = 2

In [ ]:
df['Relative_have'].value_counts(dropna=False).sort_index()

In [ ]:
df['Relative_have'] = np.abs(df['Relative_have']-2)

In [ ]:
df['Relative_have'].value_counts(dropna=False).sort_index()

In [ ]:
variable_list.append('Relative_have')

### Life_satisfaction

drop 3 4 to 2

In [ ]:
df['WP30'].value_counts(dropna=False).sort_index()

In [ ]:
df['Life_satisfaction'] = df['WP30']

In [ ]:
df['Life_satisfaction'] = df['Life_satisfaction'].fillna(2)

In [ ]:
df.loc[df['Life_satisfaction'].isin([3, 4]), 'Life_satisfaction'] = 2

In [ ]:
df['Life_satisfaction'].value_counts(dropna=False).sort_index()

In [ ]:
df['Life_satisfaction'] = np.abs(df['Life_satisfaction']-2)

In [ ]:
df['Life_satisfaction'].value_counts(dropna=False).sort_index()