# Data Washing

In [1]:
%pwd

'D:\\OneDrive - Kyushu University\\Course01_DataScienceForBa\\Code'

## Import Package

In [2]:
import os
import pandas as pd

## Folder Address Setting

In [3]:
Data_Folder = "../Data"
Code_Folder = "../Code"
Results_Folder = "../Results"

## Load Data

In [9]:
raw_df = pd.read_csv(os.path.join(Data_Folder, 'D01_RawDataWb4WaveX_v1.csv'))

In [10]:
raw_df.head()

,Unnamed: 0,wave,INCOME_1,INCOME_2,INCOME_3,INCOME_4,INCOME_5,INCOME_6,INCOME_7,WP16,...,WP2319,WP4657,WP9042,WP9048,WP17625,WP17626,WP16056,WP15862,WP19544,WP3117
0,2051059,14.1,36000.0,8966.233975,6000.0,1494.372329,1.0,NaN,3.0,7.0,...,6.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0
1,2051060,14.1,120000.0,29887.446582,30000.0,7471.861645,4.0,NaN,1.0,1.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0
2,2051061,14.1,216000.0,53797.403847,54000.0,13449.350962,5.0,NaN,3.0,4.0,...,2.0,1.0,NaN,NaN,2.0,1.0,2.0,NaN,2.0,1.0
3,2051062,14.1,72000.0,17932.467949,14400.0,3586.493590,2.0,NaN,3.0,6.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0
4,2051063,14.1,9600.0,2390.995727,2400.0,597.748932,1.0,NaN,3.0,4.0,...,3.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,2.0

In [11]:
raw_df = pd.read_csv(os.path.join(Data_Folder, 'D01_RawDataWb4WaveX_v1.csv'), index_col = 0)

In [12]:
raw_df.head()

,wave,INCOME_1,INCOME_2,INCOME_3,INCOME_4,INCOME_5,INCOME_6,INCOME_7,WP16,WP18,...,WP2319,WP4657,WP9042,WP9048,WP17625,WP17626,WP16056,WP15862,WP19544,WP3117
2051059,14.1,36000.0,8966.233975,6000.0,1494.372329,1.0,NaN,3.0,7.0,98.0,...,6.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0
2051060,14.1,120000.0,29887.446582,30000.0,7471.861645,4.0,NaN,1.0,1.0,1.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0
2051061,14.1,216000.0,53797.403847,54000.0,13449.350962,5.0,NaN,3.0,4.0,5.0,...,2.0,1.0,NaN,NaN,2.0,1.0,2.0,NaN,2.0,1.0
2051062,14.1,72000.0,17932.467949,14400.0,3586.493590,2.0,NaN,3.0,6.0,6.0,...,2.0,1.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,3.0
2051063,14.1,9600.0,2390.995727,2400.0,597.748932,1.0,NaN,3.0,4.0,4.0,...,3.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,2.0

In [13]:
raw_df.index

Index([2051059, 2051060, 2051061, 2051062, 2051063, 2051064, 2051065, 2051066,
       2051067, 2051068,
       ...
       2355149, 2355150, 2355151, 2355152, 2355153, 2355154, 2355155, 2355156,
       2355157, 2355158],
      dtype='int64', length=10712)

In [14]:
raw_df.columns

Index(['wave', 'INCOME_1', 'INCOME_2', 'INCOME_3', 'INCOME_4', 'INCOME_5',
       'INCOME_6', 'INCOME_7', 'WP16', 'WP18', 'WP23', 'WP27', 'WP30', 'WP31',
       'WP40', 'WP43', 'WP60', 'WP61', 'WP63', 'WP65', 'WP67', 'WP68', 'WP69',
       'WP70', 'WP71', 'WP74', 'WP83', 'WP85', 'WP86', 'WP19472', 'WP88',
       'WP89', 'WP91', 'WP92', 'WP93', 'WP94', 'WP95', 'WP96', 'WP97', 'WP98',
       'WP10248', 'WP103', 'WP105', 'WP106', 'WP108', 'WP109', 'WP110',
       'WP111', 'WP112', 'WP113', 'WP117', 'WP118', 'WP119', 'WP129', 'WP130',
       'WP9050', 'WP131', 'WP132', 'WP134', 'WP137', 'WP138', 'WP139', 'WP141',
       'WP144', 'WP10251', 'WP145', 'WP146', 'WP150', 'WP151', 'WP153',
       'WP155', 'WP156', 'WP13125', 'WP1219', 'WP1220', 'WP1223', 'EMP_2010',
       'WP1230', 'WP1233', 'WP2319', 'WP4657', 'WP9042', 'WP9048', 'WP17625',
       'WP17626', 'WP16056', 'WP15862', 'WP19544', 'WP3117'],
      dtype='object')

In [15]:
raw_df.describe()

,wave,INCOME_1,INCOME_2,INCOME_3,INCOME_4,INCOME_5,INCOME_6,INCOME_7,WP16,WP18,...,WP2319,WP4657,WP9042,WP9048,WP17625,WP17626,WP16056,WP15862,WP19544,WP3117
count,10712.000000,1.071200e+04,1.071200e+04,1.071200e+04,1.071200e+04,10712.000000,0.0,10712.000000,10712.000000,10712.000000,...,10712.000000,10712.000000,15.000000,15.000000,10712.000000,10712.000000,10712.000000,8829.000000,10484.000000,10712.000000
mean,15.080489,1.605346e+05,3.768528e+04,5.944424e+04,1.399056e+04,3.158047,NaN,1.413742,7.824683,17.292942,...,2.257188,1.002054,2.200000,237.733333,1.879294,1.021845,1.180545,1.054933,1.122091,1.856516
std,0.820162,4.293703e+05,1.013907e+05,1.803316e+05,4.195370e+04,1.414195,NaN,0.718554,14.193630,29.110443,...,0.817969,0.062586,1.082326,396.271456,0.333728,0.151206,0.398019,0.233266,0.342222,0.784767
min,14.100000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,NaN,1.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,14.100000,3.840000e+04,9.204941e+03,1.200000e+04,2.988745e+03,2.000000,NaN,1.000000,5.000000,6.000000,...,2.000000,1.000000,1.500000,20.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,15.100000,8.400000e+04,2.092121e+04,2.880000e+04,6.574958e+03,3.000000,NaN,1.000000,6.000000,8.000000,...,2.000000,1.000000,2.000000,50.000000,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000
75%,16.100000,1.560000e+05,3.830798e+04,6.000000e+04,1.314992e+04,4.000000,NaN,2.000000,7.000000,9.000000,...,3.000000,1.000000,2.500000,138.500000,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000
max,16.100000,2.400000e+07,5.893536e+06,6.600000e+06,1.620722e+06,5.000000,NaN,3.000000,99.000000,99.000000,...,6.000000,4.000000,4.000000,999.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000

In [20]:
for column, item in zip(raw_df.columns, raw_df.isna().sum()):
    print(column, item)

wave 0
INCOME_1 0
INCOME_2 0
INCOME_3 0
INCOME_4 0
INCOME_5 0
INCOME_6 10712
INCOME_7 0
WP16 0
WP18 0
WP23 0
WP27 0
WP30 0
WP31 0
WP40 0
WP43 0
WP60 0
WP61 0
WP63 0
WP65 0
WP67 0
WP68 0
WP69 0
WP70 0
WP71 0
WP74 0
WP83 0
WP85 0
WP86 0
WP19472 0
WP88 0
WP89 3500
WP91 0
WP92 0
WP93 0
WP94 0
WP95 0
WP96 10712
WP97 0
WP98 0
WP10248 0
WP103 3500
WP105 0
WP106 0
WP108 0
WP109 0
WP110 0
WP111 0
WP112 10712
WP113 0
WP117 0
WP118 0
WP119 0
WP129 0
WP130 0
WP9050 0
WP131 0
WP132 0
WP134 0
WP137 10712
WP138 10712
WP139 10712
WP141 10712
WP144 10712
WP10251 10712
WP145 10712
WP146 10712
WP150 10712
WP151 10712
WP153 10712
WP155 10712
WP156 10712
WP13125 10712
WP1219 0
WP1220 0
WP1223 3500
EMP_2010 3500
WP1230 0
WP1233 10712
WP2319 0
WP4657 0
WP9042 10697
WP9048 10697
WP17625 0
WP17626 0
WP16056 0
WP15862 1883
WP19544 228
WP3117 0

In [21]:
df = raw_df.copy()

## Washing Data

For the Variable Defination Please refer [this doc](../Materials/World_Poll_Methodology_032023.pdf)  From Page 66

In [ ]:
variable_list = []

### Wave

In [22]:
df['wave'].value_counts().sort_index()

wave
14.1    3709
15.1    3503
16.1    3500
Name: count, dtype: int64

In [23]:
df['wave'] = df['wave'].astype(int)

In [24]:
df['wave'].value_counts().sort_index()

wave
14    3709
15    3503
16    3500
Name: count, dtype: int64

In [ ]:
variable_list.append('wave')

### Income related

In [ ]:
variable_list.append('INCOME_2')

In [ ]:
code = 'INCOME_5'
name = 'Income_level'

In [ ]:
df[name] = df[code]

In [ ]:
print(df[code].value_counts(dropna=False).sort_index())

### Well Being

In [25]:
df['Cantril_ladder'] = df['WP16']

In [26]:
df['Cantril_ladder'].value_counts(dropna=False).sort_index()

Cantril_ladder
0.0      378
1.0      228
2.0      332
3.0      678
4.0      859
5.0     2750
6.0     1709
7.0     1299
8.0     1153
9.0      316
10.0     758
98.0     237
99.0      15
Name: count, dtype: int64

In [ ]:
df = df[df['Cantril_ladder'] < 11]

In [ ]:
df['Cantril_ladder'].value_counts(dropna=False).sort_index()